@import '../abstract/variaveis';

nav{
    text-align: center;
    // position: fixed;
    // background-color: aqua;
    // width: 100%;
    ul{
        display: flex;
        justify-content: center;
        li{
            padding: 1rem;
            a{
                color: $primaria;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
                transition: 500ms;
                &:hover{
                    color: $terciaria;
                    text-decoration: underline;
                }
            }
        }
    }
}